div#jp_container_N
{
//width:100px;
position:absolute;
right:25px;
}

.masterlist{
	position: absolute;
	width:30%;
}

.dirz{

font-style:italic;
}

.filez{

}

.dirz:hover{
background-color:rgba(230, 154, 23, 0.3);
}

.back:hover{
background-color:rgba(230, 154, 23, 0.3);
}
.filez:hover{
background-color:rgba(28, 76, 152, 0.3);
}

.controls{
	position:absolute;
	bottom: 10%;
	right: 50%;
}