.container { max-width: 90em; }

/* you only need width to set up columns; all columns are 100%-width by default, so we start
   from a one-column mobile layout and gradually improve it according to available screen space */

@media only screen and (min-width: 34em) {
	.feature, .info { width: 50%; }
}

@media only screen and (min-width: 54em) {
    .content { width: 66.66%; }
    .sidebar { width: 33.33%; }
    .info    { width: 100%;   }
}

@media only screen and (min-width: 76em) {
    .content { width: 58.33%; } /* 7/12 */
    .sidebar { width: 41.66%; } /* 5/12 */
    .info    { width: 50%;    }
}




div#jp_container_1{
	float:right;
}

#filelist{
	width:50%;
}

.jplay{
	width:50% !important;
}

.dirz{

font-style:italic;
}

.filez{

}

.dirz:hover{
background-color:rgba(230, 154, 23, 0.3);
}

.back:hover{
background-color:rgba(230, 154, 23, 0.3);
}
.filez:hover{
background-color:rgba(28, 76, 152, 0.3);
}

.controls{
	position:fixed;
	bottom: 10%;
	left: 45%;
}

#playlist_container {
/*position: fixed;
bottom: 0;
right: 0;*/
float:right;
width: 420px;
}

.current {
	font-weight:bold;
	background-color:#BFA130;
}