div#jp_container_1
{
float:right;
}

#filelist{
	width:50%;
}

.jplay{
	width:50% !important;
}

.dirz{

font-style:italic;
}

.filez{

}

.dirz:hover{
background-color:rgba(230, 154, 23, 0.3);
}

.back:hover{
background-color:rgba(230, 154, 23, 0.3);
}
.filez:hover{
background-color:rgba(28, 76, 152, 0.3);
}

.controls{
	position:fixed;
	bottom: 10%;
	left: 45%;
}

/*#playlist_container {
position: fixed;
bottom: 0;
right: 0;
}*/

.current {
	font-weight:bold;
	background-color:#BFA130;
}