body, html{
	height: 100%;
}

body{
	background: url(../img/struckaxiom.png) top left repeat;
	background-position:fixed;
}

.row, .inner-wrap, .off-canvas-wrap{
	height: 100%;
}

div#jp_container_N
{
//width:100px;
// position:absolute;
right:25px;
}

.logo{
	width: 181px;
	height: auto;
	-webkit-box-shadow: 0 0 5px #8D8D8D;
	 -moz-box-shadow: 0 0 5px #8D8D8D;
	 box-shadow: 0 0 5px #8D8D8D; 
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.masterlist{
border: solid 1px #E0E0E0;
background: #FFF;
-webkit-box-shadow: 0 0 10px #D6D6D6;
-moz-box-shadow: 0 0 10px #D6D6D6;
box-shadow: 0 0 10px #D6D6D6;
padding: 10px;
}

.dirz{
font-style:italic;
}

.filez{
	width: 100%;
	padding: 10px;
	background: #DADADA;
	color: #6B6B6B;
	font-size: 10pt;
	text-shadow: 0 1px #FFF;
	font-weight: bold;
	border-top: solid 1px #FFF;
	border-bottom: solid 1px #B4B4B4;
}

.dirz:hover{
background-color:rgba(230, 154, 23, 0.3);
}

.back:hover{
background-color:rgba(230, 154, 23, 0.3);
}
.filez:hover{
background-color:rgba(28, 76, 152, 0.3);
}

.controls{
	// position:absolute;
	// bottom: 10%;
	margin-bottom:10px;
}

.add_all{
	clear: both;
	padding: 10px 0 0;
	width: 300px;
	text-transform: uppercase;
	font-weight: 500;
	&:hover{
		color: #73B9FF;
	}
}

ul.jp-controls{
	li{
		list-style-type: none!important;
	}
}