body, html{
	height: 100%;
}

body{
	background: url(../img/struckaxiom.png) top left repeat;
	background-position:fixed;
}

.clear{
	clear:both;
}

.fullHeight{
	height: 100%;
	overflow: scroll;
}

.row, .inner-wrap, .off-canvas-wrap{
	height: 100%;
}

div#jp_container_N
{
//width:100px;
// position:absolute;
right:25px;
}

.logo{
	width: 181px;
	height: auto;
	-webkit-box-shadow: 0 0 5px #8D8D8D;
	 -moz-box-shadow: 0 0 5px #8D8D8D;
	 box-shadow: 0 0 5px #8D8D8D; 
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	position: relative;
z-index: 3;
}

.masterlist{
	border: solid 1px #E0E0E0;
	background: #FFF;
	-webkit-box-shadow: 0 0 10px #D6D6D6;
	-moz-box-shadow: 0 0 10px #D6D6D6;
	box-shadow: 0 0 10px #D6D6D6;
	padding: 10px;
}

.filez{
	cursor: pointer;
	width: 100%;
	padding: 10px;
	background: rgb(255, 255, 255);
	color: rgb(37, 37, 37);
	font-size: 10pt;
	text-shadow: 0 1px rgb(255, 255, 255);
	font-weight: 300;
	border-bottom: solid 1px rgb(180, 180, 180);
	&:hover{
		background-color: #F5F5F5;
	}
}

.dirz{
	@extend .filez;
}

.back{
	@extend .filez;
}

#playlist_container{
	ul {
		margin:0;
		li{
			@extend .filez;
			list-style-type:none;
		}
	}
}

.dirz:hover{
background-color:rgba(230, 154, 23, 0.3);
}

.back:hover{
background-color:rgba(230, 154, 23, 0.3);
}

.controls{
	margin-bottom:10px;
}

.add_all{
	clear: both;
	padding: 10px 0 0;
	width: 300px;
	text-transform: uppercase;
	font-weight: 500;
	&:hover{
		color: #73B9FF;
	}
}

ul.jp-controls{
	li{
		list-style-type: none!important;
	}
}

#downform{
	position:absolute;
}

.controls{
	div{
		cursor: pointer;
	}
}

.main-section{
	padding-bottom: 96px;
	position: relative;
	z-index: 1;
	@extend .fullHeight;
}

.libraryColumn{
	background: rgba(255, 255, 255, 0.8);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(202, 202, 202);
	padding: 0;
	@extend .fullHeight;
}

.playlistColumn{
	@extend .libraryColumn;
	margin-left: 1%;
	width: 49%;
}

// controls
.controls{
	float:right;
	padding-top: 10px;
	margin-bottom: 0;
	a{
		width: 20px;
		margin:0px 5px;
		text-align:center;
		float:left;
		opacity: 0.5;
			&:hover{
				opacity:1;
			}
	}
}

.leftControls a{
	float:right;
	margin-bottom:5px;
}

.noPaddingLeft{
	padding-left:0!important;
}

// Jplayer

.jplay{
	position: fixed;
bottom: 0;
width: 100%;
}

.jp-audio{
	width: 100%!important;
position: fixed;
bottom: 0;
left: 0;
}

h3{
	padding: 10px 10px 0;
	font-size: 20px;
	font-weight: 500;
	color: rgb(90, 90, 90);
}

.directoryName{
	font-size: 16px;
	float:left;
	font-weight: 500;
}

.backButton{
	display: block;
	float: left;
	margin: 5px 10px 0 10px;
}

.directoryTitle{
	background-color: #F5F5F5;
	display: block;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	overflow: hidden;
	padding: 7px 0;
	margin-top: 10px;
}

.row{
	margin: 0;
	max-width:none;
}

.scraper{
	padding: 5px;
	background: #F5F5F5;
	border: solid 1px #EEE;
	overflow: hidden;
	border-radius: 3px;
	label{
		color: #6666ff;
		float:right;
		margin: 0;
	}
	input{
		margin:0 5px 0 0;
	}
}

.closeit{
	float: right;
	color: #ACACAC;
	border: solid 2px #CACACA;
	background-color: #E9E9E9;
	padding: 5px;
	font-weight: bold;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 15px;
	text-transform: lowercase;
	line-height: 7px;
	padding-bottom: 8px;
	&:hover{
		color: #555;
	}
}

.jp-current-time{
	position: relative;
	left: 110px;
	top: 10px;
}

.jp-duration{
	position: relative;
	right: 110px;
	top: 10px;
}